[Desktop Entry]
Type=Application
Name=Magicium Converter
Comment=Convert image formats on the fly using ImageMagick
Exec=magicium
Icon=magicium-converter
Terminal=false
Categories=Graphics;Utility;